/* barra de rolagem*/
::-webkit-scrollbar {
    background-color: red;
  }
  
  ::-webkit-scrollbar-track {
    background-color: red;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(11, 11, 11);
  }
body{
    margin: 0;
   
    overflow-x: hidden;
    font-family: 'Nosifer', cursive;
    background-color: #000000;    
}
a {
    text-decoration: none;
    color: white;
}
ul, li {
    list-style: none;
    color: white;
    padding: 20px;
  }
h1 {
    padding: 20px;
    color: white;
}
img{
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 9px;
}
input{
    border-radius: 4px;
    height: 35px;
    width: 350px;
    align-items: center;
    margin-top: 10px;
    color: black;
    font-size: 20px;
  }
select{
    width: 400px;
    height: 40px;
    color: red;
    font-size: 20px;
}
option{
    font-size: 20px;
    color: red;
}
p{
    margin-left: 50px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    color: white;
    border: solid gold;
    height: 200px;
    width: 600px;

}

/*header*/
.container{
    width: 100%;
    height: 200px;
    margin: auto;   
}
.banner{
    margin-top: 100px;
    
}

.header .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.header .container img{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 800px;
    margin-top: 50px;
    font-size: 30px;
}
.container .imgpg{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 700px;
}
.container .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 50px;
    background-image: url(https://i.gifer.com/57yq.gif);
}
.borda  {
    border-bottom: solid red;
    gap: 56px;
    color: red;
 }

.container h1  {
    display: flex;
    flex-direction: column;
    color: white;
    width: 400px;
    margin-top: -500px;
    margin-left: 150px;
    font-size: 30px;
    gap: 50px; 
}
/*banner*/
.banner .container{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    height: 600px;
    height: 500px;
    color: white; 
    margin-top: 100px;  
} 
.banner h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
    margin-bottom: 200px;
    font-size: 80px;
}
.img{
    width: 300px;
    height: 500px;
    color: rgb(255, 254, 253);
    -webkit-transition: -webkit-transform .5s ease ;
     transition: transform .5s ease ; 
}
.img :hover{
    -webkit-transform: scale(1.2);
     transform: scale(1.2);
}
.img70{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: -110px;
}
.filme{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    
}
.filme:hover{
    transition: all 1.5s;
    color: red;
    border-bottom: red solid;
}

.vermelho:hover{
    transition: all 1.5s;
    color: red;  
}
.verde{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px; 
}
.verde:hover{
    transition: all 0.5s;
    color: green;
    align-items: center;

}

.formulario  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 760px;
    width: 500px;
    padding: 5px;
    gap: 10px;
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.764);
    border-radius: 30px;
    margin-bottom: 230px;
    margin-top: 40px;
    background-image: url(https://i.gifer.com/embedded/download/I3uQ.gif);
}
.erro{
    
    color: rgb(255, 255, 255);
    height: 40px;
    width: 400px;
    font-size: 30px;
    margin-top: -20px;
    align-items: center;
    margin-left: 900px;
    
   
}
.erroCadastro{
    color: rgb(255, 255, 255);
    height: 40px;
    width: 400px;
    font-size: 30px;
    margin-top: -60px;
    align-items: center;
    margin-left: 800px;
}

.btn   {
    align-items: center; 
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: solid rgb(106, 104, 104);
    font-size: 20px; 
    margin-top: 15px;
    background-color: red;
    color: white;
}
.btn:hover{
    transform: scale(1.1);
    transition: all 1.5s;
    background-color: #000000;    
}

  /*footer*/
.footer .container h3 {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;  
  }
