body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Nosifer', cursive;
    background-image: url(https://1.bp.blogspot.com/-iVUIFGRk9ec/WKiLQ13JweI/AAAAAAAABNw/BWqECiwE5REuR5LPsmu6jgg9FJ-AuZdqwCLcB/s1600/gif%2Bde%2Bterror%2B5.gif)  ;
}


a{
    text-decoration: none;
    color: red;
}
p{
    color: white;
}
/*header*/

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 100px;
    
}
h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}
img{
    position: relative; 
    height: 30vh;
    width: 300px;
    margin-bottom: 100px;
}
span{
    font-size: 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 500px;
    padding: 0px;
    height: 100px;
  }
select{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}
option{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
   
   
    
}
.cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-top: 100px;
    
}
.btn {
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: solid rgb(147, 147, 147);
    font-size: 20px;
    margin-top: -80px;
    margin-bottom: 25px;
    margin-left: 30px;
    background-color: white;
    color: red;

}
.btn:hover {
    transform: scale(1.1);
    transition: all 1.5s;
    background-color: red;
    color: white;
}

.btnSair {
    align-items: center;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: solid rgb(3, 3, 3);
    font-size: 20px;
    margin-left: 80px;
    margin-top: -17px;
    background-color: white;
    color: red;
}

.btnSair:hover {
    transform: scale(1.1);
    transition: all 1.5s;
    background-color: red;
    color: white;
}

.vermelho:hover {
    color: red;
}

/*header*/
.aviso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    color: white;
    margin-left: -250px;
    margin-top: -500px;
}

.alert {
    width: 75%;
    position: relative;
    margin-left: 300px;
    margin-top: -800px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
 .navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 300px;
    background-color: #000000;  
    
}
.menu{
    position: fixed;
    height: 100vh;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 300px;
    background-color: #000000; 
    padding: 20PX;
    
    
}
.classico {
    width: 300px;
    height: 200px;
    background-color: green;   
    border-radius: 10px;
}
.medio {
    background-color: gold;
    width: 300px;
    border-radius: 10px;
}
.ruim {
    background-color: red;
    width: 300px;
    border-radius: 10px;
}
.box{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -440px;
    margin-left: 350px;
    width: 75%;
    height: 800px;
    border-radius: 10px;
    display: flex;
    background-color:rgba(13, 13, 13, 0.729);  
    
}
.box span{
    align-items: center;
    align-self: center;
    font-size: 33px;
    position: relative;
    margin-left: -10px;
    max-width: 300px;
    margin-bottom: 30px;

    
    
}
.imagem img {
    height: 430px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border: solid blue;
    position: absolute;
    padding: 50px;
    
}


.filme{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
     
    color: white;
}
.filme:hover{
    transition: all 1.5s;
    color: red;
    
}
.Trailer{
    width: 400px;
    height: 250px;
    margin-left: -1173px;
    margin-top: 520px;
}
.container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin-left: 100px;
}
.colum{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    max-height: 780px;
    margin-left: -100px;
    min-width: 400px;
    
}
.avaliar{
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: solid red;
    font-size: 20px;
    background-color: white;
    color: red;
   
    margin-bottom: 30px;
}
.rank{
    align-items: center;
    align-self: center;
    height: 80px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
    border: red solid;
    margin-left: 30px;
    background-color: white;
    color: red;
  
}
.rank:hover{
    transition: all 1.5s;
    color: white;
    background-color: red;
    border: white solid;
}

