body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Nosifer', cursive;
    background-image: url(https://i.pinimg.com/originals/d6/8b/42/d68b421f191f41463537bf1ca59903ff.gif);
    background-color: #000000ad;
    background-blend-mode: darken;
    
  }
  
  /*header*/
  h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;

  }
  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 35px;
  }
  h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
  }
  img{
    position: relative; 
    height: 30vh;
    width: 300px;
  }
  span{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-bottom: 70px;
  }
  .btn {
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: solid rgb(147, 147, 147);
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: white;
    color: red;
  
  }
  .btn:hover {
    transform: scale(1.1);
    transition: all 1.5s;
    background-color: red;
    color: white;
  }
  
  .btnSair {
    align-items: center;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: solid rgb(3, 3, 3);
    font-size: 20px;
    margin-top: 15px;
    margin-left: 80px;
    background-color: white;
    color: red;
  }
  
  .btnSair:hover {
    transform: scale(1.1);
    transition: all 1.5s;
    background-color: red;
    color: white;
  }
  .btnProximo{
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: solid rgb(147, 147, 147);
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: white;
    color: red;
  }
  .btnProximo:hover{
      transform: scale(1.1);
      transition: all 1.5s;
      background-color: red;
      color: white;
    }
  
  .vermelho:hover {
    transition: all 1.5s;
    color: red;
  }
  
  /*header*/  
  .navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 300px;
    background-color: #000000;  
    
  }
  .menu{
    position: fixed;
    height: 100vh;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 300px;
    background-color: #000000; 
    border-right: solid rgb(111, 111, 111);
    
  }
  .box  {
    margin-left: 120px;
    margin-top: -700px;
    color: white;
  }
  
  
  .container{
    width: 1300px;
    height: 600px;
    margin-left: 330px;
    margin-top: 50px;
    margin-bottom: 800px;
    gap: 50px; 
    display: flex;
    align-items: center;
   justify-content: center;
   position: relative;
   
  }  
  .containerFilmes{
    display: flex;
    align-items: center;
   justify-content: space-around;
   position: relative;
   width: 12000px;
    height: 600px;
  }
  .containerTrash{
    width: 1300px;
    height: 600px;
    margin-left: 330px;
    margin-top: 50px;
    margin-bottom: 800px;
    gap: 50px; 
    display: flex;
    align-items: center;
   justify-content: center;
   position: relative;
   
  }
  .containerfooter{
    display: flex;
    align-items: center;
   justify-content: center;
   position: relative;
   height: 300px;
   margin-left: 330px;
   margin-top: 50px;
   margin-top: 100px;


  }

  .img img{
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: solid gold;
  }
  .img:hover{
    transform: scale(1.1);
    transition: all 1.5s;

  }
  .filme{
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  .filme:hover{
    color: red;

  }
 
  .footer {
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 300px;
  }
  .seta{
    font-size: 70px;
    color: red;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    border-radius: 5px;
  }
  .seta:hover{
    color: white;
  }
  .setaTopo{
    font-size: 70px;
    color: red;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    margin-top: 20px;
  }
  .linkTop  {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 60px;  
    background-color: rgba(0, 0, 0, 0.652); 
    border-radius: 5px;
    border: red solid;
    
    
}
  h3 span{
    background-color: #000000;
    color: white;
    height: 100px;
    width: 1500px;
    margin-left: 200px;
    text-align: center;
    justify-content: center;
 
    
  }